[submodule ".vim/pack/plugins/start/airline"]
	path = .vim/pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/plugins/start/YouCompleteMe"]
	path = .vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
